.page-title {
	display: block !important;
	text-align: center;
	font-size: 2rem;
	margin-top: 0.4rem;
}

.form-container {
	width: 400px;
	margin: auto;
}

@media screen and (max-width: 768px) {
	.page-title {
		padding-top: 15px !important;
		text-align: center;
	}
}

.ui.violet.button:focus,
.ui.violet.buttons .button:focus {
	background-color: #6435c9;
}
